@model IList<Workout>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Workout list</h1>
    <div class="row">
        @foreach (var workout in Model)
        {
            <div class="col-4">
                <partial name="WorkoutCardPartial" model="workout" />
            </div>
        }
    </div>
</div>